<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HungryDuckResturant.Data.Properties.Settings.HungryDuckResturantDB"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=I:\Project\Project\Database\HungryDuckResturantDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="" />
    </connectionStrings>
</configuration>